 <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <a href="/" class="navbar-brand">Yahya Mohamud</a>

  <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarMenu">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarMenu">

    <ul class="navbar-nav ml-auto">

      <li class="nav-item">
        <a href="work" class="nav-link">Work</a>
      </li>
      <li class="nav-item">
        <a href="https://github.com/stayhumble91" target="_blank" class="nav-link">GitHub</a>
      </li>
      <li class="nav-item">
        <a href="contact" class="nav-link">Contact</a>
      </li>

    </ul>

  </div>
</nav>