body {   
    background-color: #000;
    color: #fff;
}

.container {
    max-width: 80%;
    margin: 0 auto;
}


header {
    /* width: 100%; */
    margin: 0;  
    height: 5rem;
    color: #fff;
}

.logo {
    float: left;
    font-family: 'Raleway', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

li {
    list-style: none;
    font-family: 'Raleway', sans-serif;
    padding-right: 66px;
    font-size: 1rem;
    display: inline;
    font-weight: 300;   
    
}

.wrapper {
    width: 80%;
    display: grid;
    grid-gap: 4rem;
    grid-template-columns: 75% 25%;
    grid-template-areas: "content side"; 
}

.nav {
    float: right;
    padding-top: 18px;
}

.content {
    padding: 2rem;
    grid-area: content;
}

.side {
    max-height: 500px;
    overflow: auto;
}

p {
    font-family: sans-serif;
    line-height: 2.5;
}

.works {
     width: 100%;
     text-align: center;
     margin-top: 3rem;
}

.sideimg {
    height: 200px;
    width: 200px;
    margin: 1rem;
}

#details {
    font-style: italic;
}

#details a:hover {
    color: gray;
}

/* work page css starts here */
.samples{
    width: 80%;
    margin: 0 auto;
    padding-top: 2rem;
    background-color: #fff;
}

.sampleContent {
    margin: 0 auto;
}

.samplehead {
    text-align: center;
    font-family: 'Raleway', sans-serif; 
    margin-top: 6rem; 
    color: #fff;
} 

.sampleimg {
    width: 800px;
    display: block;
}

.desc {
    text-align: center;
}

.back {
  text-align: center;
  margin: 3rem;
}

.back > a {
  font-family: 'Raleway', sans-serif;
}