body {
    background-color: rgb(0, 0, 0);
    color: #00ffff;
}

.container {
  position: absolute;  
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  font-family: 'Source Code Pro', monospace;
}

.container h1 {
  text-align: center;
  margin: 0 auto;
  font-size: 5rem;
} 

.container h2, h3 {
    text-align: center;
}

.container a {
    color: #00ffff;
    text-decoration: none;
}

.container a:hover {
    color: #008000;
}
span {
    color: #e03a7a;
}

/*media queries*/
@media (max-width: 375px) {
    .container {
        width: 100%;
        padding: 0 2rem 0 2rem;
        margin: 0 auto;
        position: fixed;
    }
    .container h1 {
        font-size: 2.5rem;
    }

    .container h2 {
        font-size: 1rem;
    }

    .container h3 {
        font-size: 1rem;
    }
}

@media (max-width: 415px) {
    .container {
        width: 100%;
        margin: 0 auto;
        padding: 0 2rem 0 2rem;
        position: fixed;
    }

    .container h1 {
        font-size: 2rem;
    } 

    .container h2 {
        font-size: .7rem;
    }

    .container h3 {
        font-size: .5rem;
    }
}