    <% include ../partials/head %>
        <% include ../partials/header %>
    <div class="container">
        <div class="box">
            <div class="form">
            <h1>Get In Touch!</h1>
                <form method="POST" action="/send">
                    <input type="text" name="name" placeholder="Name"></br>
                    <input type="text" name="company" placeholder="Company"></br>
                    <input type="text" name="email" placeholder="Email"> </br>
                    <textarea name="message" id="" cols="30" rows="10" placeholder="Get in touch"></textarea></br>
                    <button>Send</button>
                </form>
            </div>
        </div>
    </div>
    <% include ../partials/footer %>