
   <% include ../partials/head %>

     <% include ../partials/header %>
<div class="container">
<div class="wrapper">
<section class="content">

    <p>
        Hello World!
    </br>
    </br>
    Web developer passionate about design, functionality and the end user’s experience. Currently developing in the MEAN stack however always trying to learn new technologies. I enjoy building things and creatively solving problems/bugs.



    </p>

</br>
</br>

    <p>
        I am a natural born leader, also a problem solver. I have the ability to see a situation from different perspectives and I can get my work done even in the face of difficult obstacles. I also feel that my communication skills are top notch who is a very hardworking individual. I'm a hard worker, and am really motivated always finishing my tasks on time. I'm a team player that means I do whatever I can to the best of my ability to help my colleagues/coworkers on doing an excellent job.
    </p>

</br>
</br>

    <p>
        My hopes and dreams are to grow in the field and to use tech for creating positive impacts.
    </p>

</section>

<section class="side">
    <div class="works">
        <img src="../images/bloxscore.png" alt="" class="sideimg">
        <img src="../images/HN.png" alt="" class="sideimg">
        <img src="../images/news.png" alt="" class="sideimg">
        <p id="details"><a href="work">Work details</a></p>
    </div>
</section>

</div>
</div>
<% include ../partials/footer %>