
   <% include ../partials/head %>

<div class="container">
     <% include ../partials/header %>
<div class="wrapper">        
<section class="content">

    <p>
        Hello World!
    </br>
    </br> 
        My name is Osama. I'm a CS student with a well developed interest in web technologies. Not to mention
        that I am also a passionate Frontend Developer with strong critical thinking and communication skills.
    </p>

</br>
</br>

    <p>
        My love for web development and teaching has led to my current position at Som design, where I assist in building clean webpages
        and teaching young high school students the basics of web development.
    </p>

</br>
</br>

    <p>
        My hopes and dreams are to grow in the field and to use tech for creating positive impacts.
    </p>

</section>

<section class="side">
    <div class="works">
        <img src="../images/dummy.png" alt="" class="sideimg">
        <img src="../images/dummy.png" alt="" class="sideimg">
        <img src="../images/dummy.png" alt="" class="sideimg">
    </div>
</section>

</div>
</div>
<% include ../partials/footer %>