<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="2;url=index">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet">
    <link rel="stylesheet" href="css/thanks.css">
    <title>Received!</title>
</head>
<body>
  
        <div class="jumbotron">
            <h1>
                Thanks! I'll get back to you soon. I promise!
                Enjoy the rest of your evening. 
            </h1>
        </div>
</body>
</html>