<% include ../partials/head %>
<% include ../partials/header %>
<div class="container">

<div class="samples">

    <div class="sampleContent">
        <!-- Links -->
        <div class="samplehead">
            <h1><a href="http://bloxscore.herokuapp.com/" target="_blank">Bloxscore</a></h1>
        </div>

        <div class="desc">
            <p>
                <span class="desc">This was a final team project built utilizing the Zillow, Yelp, Instagram, and Walkscore APIs to generate
                    information about neighborhoods to potential residents. The App was built with Node.js.</span>
            </p>
        </div>

        <div class="scshot">
            <img src="images/bloxscore.png" alt="bloxscore" class="sampleimg">
        </div>

        

        <div class="desc">
            <!-- Brief description of the project -->
            <p>
                <span class="desc">This clone of the popualr hacker news website was built with their provided API in vanilla javascript, Jquery,
                    HTML and CSS.</span>
            </p>
        </div>

        <div class="scshot">
            <!-- Screenshot of the landing page -->
            <img src="images/HN.png" alt="HackerNews" class="sampleimg">
        </div>


        <div class="samplehead">
            <h1><a href="https://newsproject4.herokuapp.com/" target="_blank">News feed</a></h1>
        </div>

        <div class="desc">
            <p>
                <span class="desc">A news site that utilizes Twitter generated widgets and the New York Times APIs. Built in Node.js</span>
            </p>
        </div>

        <div class="scshot">
            <img src="images/news.png" alt="news" class="sampleimg">
        </div>

        <h3 id="note"></h3>
        <div class="back">
            <div class="samplehead">
                <h1 id="note1">
                   
            </div>

           

            <a href="index">Return to home page</a>
        </div>
    </div>
</div>
</div>
<% include ../partials/footer %>